body{
	height: 100vh;
	overflow: hidden;
}
.house{
	transform: translateY(-400px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}
.roof{
	position: relative;
	border: 400px solid transparent; 
	border-bottom: 200px solid black;
}
.chimney{
	position: absolute;
	left: -260px;
	bottom: -160px;
	width: 40px;
	height: 120px;
	background-color: brown;
	z-index: -1;
}
.walls{
	position: relative;
	width: 760px;
	height: 360px;
	background-image: url('images/brick.jpg');
	background-size: 60%;
}
.window{
	position: relative;
	margin: 80px 0 80px 160px;
	width: 160px;
	height: 160px;
	outline: 8px solid black;
	outline-offset: -8px;
	border-radius: 50%;
	background-color: aquamarine;
}
.window::after{
	position: absolute;
	content: '';
	width: 95%;
	top: 50%;
	transform: translateY(-50%);
	border: 2px solid black;
}
.window::before{
	position: absolute;
	content: '';
	width: 95%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) rotate(90deg);
	border: 2px solid black;
}
.door{
	position: absolute;
	right: 160px;
	bottom: 0;
	width: 160px;
	height: 320px;
	transform: scaleX(-1);
}
.door-background{
	width: 100%;
	height: 100%;
	background: url('images/door.png');
	background-size: cover;
}
.foundation{
	width: 800px;
	height: 40px;
	background-color: black;
}